.wrapper
  .header
    .header__logo
      life-hack
    .header__list
      .header__list__btn
        %label(for="seach")
        検索
        %input(type="text")/
      .header__list__btn
      = link_to('#', class: "header__list__btn") do
        新規登録
      .header__list__btn
      = link_to('#', class: "header__list__btn") do
        ログイン
  .contents
    .contents__nav
      .contents__nav__text
        .contents__nav__text__title
          life-hack
        .contents__nav__text__sentence
          enjoy for life
      .contents__nav__icon
        .contents__nav__icon__social
          .contents__nav__icon__social__btn
            facebook
          .contents__nav__icon__social__btn
            twwiter
          .contents__nav__icon__social__btn
            google
        .contents__nav__icon__separate
          or
        .contents__nav__icon__signup
          .contents__nav__icon__signup__form
            %label(for="username")
            ユーザー名
            %input(type="text")/
          .contents__nav__icon__signup__form
            %label(for="email")
            メールアドレス
            %input(type="text")/
          .contents__nav__icon__signup__form
            %label(for="password")
            パスワード
            %input(type="text")/
        .contents__nav__icon__btn
          .contents__nav__icon__btn__area
            登録する
    .contents__home
      .contents__home__left
        .contents__home__left__inner
          タグ
          .contents__home__left__inner__tag
            ジャンル
          .contents__home__left__inner__tag
            ジャンル
          .contents__home__left__inner__tag
            ジャンル
          .contents__home__left__inner__tag
            ジャンル
          .contents__home__left__inner__tag
            ジャンル
      .contents__home__main
        .contents__home__main__inner
          トレンド
          .contents__home__main__inner__item
            記事
          .contents__home__main__inner__item
            記事
          .contents__home__main__inner__item
            記事
          .contents__home__main__inner__item
            記事
          .contents__home__main__inner__item
            記事
      .contents__home__right
        .contents__home__right__inner
          ランキング
          .contents__home__right__inner__rank
            コンテンツ
          .contents__home__right__inner__rank
            コンテンツ
          .contents__home__right__inner__rank
            コンテンツ
          .contents__home__right__inner__rank
            コンテンツ
          .contents__home__right__inner__rank
            コンテンツ

  .footer
    .footer__logo
      life-hack